DB_HOST=db
DB_PORT=5432
DB_NAME=database_name_here
DB_USER=db_user_here
DB_PASSWORD=db_password_here

# Spring Boot environment
SPRING_PROFILES_ACTIVE=dev

# JWT
# Must be really really long so that it can work.
# For production, use a proper secret generator.
JWT_SECRET=AWOdanmwiodsoefniosjfiosejfioerjfoemfiomcxncvspniowensdoijnnjfpowjepfwejiofnefasjiodeiofnwofmweuiojnfioen
JWT_EXPIRY_SECONDS=seconds_here
JWT_REFRESH_SECONDS=seconds_here
SONAR_TOKEN=sonar_token_provided_via_wire
NVD_API_KEY=your-actual-key-here

GF_SECURITY_ADMIN_USER=your-username
GF_SECURITY_ADMIN_PASSWORD=your-password
GF_INSTALL_PLUGINS=grafana-clock-panel,grafana-piechart-panel

# CORS CONFIGURATION FOR BACKEND
CORS_ALLOWED_ORIGINS=http://localhost:5173
CORS_ALLOWED_METHODS=GET,POST,PUT,DELETE,OPTIONS
CORS_ALLOWED_HEADERS=*
CORS_EXPOSED_HEADERS=Authorization
CORS_ALLOW_CREDENTIALS=false
CORS_MAX_AGE=3600